:root {
    --red-sbrikki: var(--aubergine);
    --green-sbrikki: #011601;
    --white-sbrikki: var(--silver);    
    --grey-sbrikki: rgb(167, 167, 167);
    --black-sbrikki: #1d0303;

        /* SCSS RGB palette */
    --aubergine: rgba(60,12,12,1);
    --silver: rgba(202,202,202,1);
    --emperor: rgba(85,83,83,1);
    --hemp: rgba(139,116,116,1);
    --spicy-pink: rgba(132,108,108,1);
    --matterhorn: rgba(83,60,60,1);
    --woody-brown: rgba(76,47,47,1);
    --congo-brown: rgba(92,52,52,1);
    --sand-dune: rgba(132,100,100,1);


    font-family: 'Times', 'Helvetica';  
    
    

}
html{
    background-color: var(--white-sbrikki); 
    color: var(--red-sbrikki);
    overflow-x: hidden;
    body{
      margin: 0;
    }
  }