$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.image {
    animation: fadeInAndPop 700ms;
    width: 60%;
    height: auto;
    max-width: 600px;
    @media screen and (min-width: 768px){
        width: 25%;
    }
}

@keyframes fadeInAndPop{
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    70%{
        opacity: 0.5;
        transform: scale(1.1)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}