$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.footer{
    display: flex;
    width: 100vm;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--grey-sbrikki);
    padding: 60px 50px 50px;
    margin-top: 100px;
    border-radius: 20% 20% 0 0;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        border-radius: 50% 50% 0 0;
    }

    :first-child{
        color: var(--black-sbrikki);
        font-weight: bold;
    }
}

.formButton{
    > * {
        align-self: center;
    justify-self: center;
    margin-left: 10px;
    margin-right: 10px;
    }
    border-radius: 20%;
    margin: 20px;
    border-left: 0.5 solid;
    border-right: 0.5 solid;
    border-top: 0.5 solid;
    border-bottom: 1 solid;
    border-color: var(--grey-sbrikki);
    background-color: transparent;
}
}