$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.item {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--green-sbrikki);
    padding: 10px;
}

.item:hover{
  animation: hov 200ms ease-in-out forwards;
}

@keyframes hov{
  0%{
    transform: scale(1);
  }
  50%{
    transform: translateX(-1);
  }
  100%{
    transform: scale(1.1);
    transform: translateX(0);
    color:var(--red-sbrikki);
  }
}