$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.item {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--green-sbrikki);
    padding: 10px;
    background-color: transparent;
    border: none;
    > * {
      margin: none;
      padding: none;
    }
}

.item:hover{
  animation: hov 200ms ease-in-out forwards;
}

@keyframes hov{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
    color:var(--red-sbrikki);
  }
}