$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.list{
    margin: 10px;
    >*{
        border-radius: 20px;
        border: none;
        height: 20px;
        width: 200px;
        padding: 10px;
    }
    
}

input{
    border-radius: 20%;
    margin: 20px;
    border-left: 0.5 solid;
    border-right: 0.5 solid;
    border-top: 0.5 solid;
    border-bottom: 1 solid;
    border-color: var(--grey-sbrikki);
    background-color: transparent;
    >*{
        align-self: center;
        justify-self: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    &:hover {
        box-shadow: 0 0 10px 0 var(--grey-sbrikki) inset, 0 0 10px 4px var(--grey-sbrikki);
    }
}