
body {
    width: 100%;
   background-image: radial-gradient(circle farthest-side at center bottom, crimson, #003087 130%);
  overflow: hidden;
}
div {
    box-sizing: border-box;
    display: block;
}
.above-fold {
	position: relative;
	height: 100vh;
	overflow: hidden;
  width: 100%;
}
.hero-section {	
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	z-index: -1;
}
.hero-section img {
  position: absolute;
  opacity: 0.45;
  margin: auto;
  width: 150%;
	top: -25%; 
  right: -25%; 
  bottom: -25%; 
  left: -25%;
}

p.photo-credit {
  position: fixed;
  color:#fff;
  bottom: 5px;
  right: 25px; 
  text-transform: uppercase;

}
p.photo-credit a {
    text-decoration: none;
  color:#fff;
}