@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import '../../styles/globals.scss';

$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

html{
  background-color: var(--white-sbrikki); 
  font-family: 'Source Code Pro', monospace;  
  color: var(--red-sbrikki);
  font-size: 17px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  
  @media screen and (min-width: tablet){
    font-size: 25px;
  } 
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red-sbrikki);
  border-radius: 10px;
}