@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import '../../styles/globals.scss';

$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

html{
  background-color: var(--white-sbrikki); 
  font-family: 'Source Code Pro', monospace;  
  color: var(--red-sbrikki);
  font-size: 17px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  @media screen and (min-width: tablet){
    font-size: 25px;
  } 
}

.home{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: none;
  }

  .head{
    margin-left: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;

    @media screen and (min-width: 768px) {
      margin: auto;
    }
  }
}

.hiddenInput{
  background: none;
  border: none;
  height: 30px;
  opacity: 0.1;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--grey-sbrikki);
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red-sbrikki);
  border-radius: 10px;
}