@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

html{
    background-color: #202020; 
    font-family: 'Source Code Pro', monospace;  
    color: rgba(255,255,255,.70);
    font-size: 20px;
    @media screen and (min-width: tablet){
      font-size: 25px;
    } 
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgba(255,255,255,.70);
    font-size: 25px;
    @media screen and (min-width: tablet){
      font-size: 30px;
    } 
}

h2{
  border-right: solid 3px rgba(255, 255, 255, 0.75);
  color: rgba(255,255,255,.70); 
  font-size: 20px;
  @media screen and (min-width: tablet){
    font-size: 25px;
  } 
}