@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import '../../styles/globals.scss';

$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

html{
    background-color: var(--white-sbrikki); 
    font-family: 'Source Code Pro', monospace;  
    color: var(--red-sbrikki);
    font-size: 20px;
    @media screen and (min-width: tablet){
      font-size: 25px;
    } 
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 25px;
    @media screen and (min-width: tablet){
      font-size: 30px;
    } 
}

h2{
  color: var(--green-sbrikki); 
  font-size: 20px;
  @media screen and (min-width: tablet){
    font-size: 25px;
  } 
}