$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.graphs{
    display: grid;
    grid-template-columns: 50px 50px auto 50px;
    align-items: center;
    justify-content: center;
    grid-template-rows: 50px;
    
    > * {
        font-size: 0.5rem;
    }

    :nth-child(1){
        grid-column-start: 1;
        grid-column-end: 2;
    }
    :nth-child(2){
        grid-column: 3;
    }
    :nth-child(3){
        grid-column: 4;
    }
}