$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.separator {
    border: 0;
    height: 5px;
    width: 70%;
    background-color: var(--grey-sbrikki); 
    border-radius: 80%;
    margin: 90px;
}