@import './globals.scss';

$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: none;
  }

  .head{
    text-align: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin: auto;
    }
  }
}

.descrWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

  .title{
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 1.4rem;
    @media screen and (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
  .description{
    display: block;
    font-size: 0.9rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
}