$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.mailto{
    font-size: 1 rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
      align-self: center;
  justify-self: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20%;
  padding: 20px;
  border-left: 0.5 solid;
  border-right: 0.5 solid;
  border-top: 0.5 solid;
  border-bottom: 1 solid;
  border-color: var(--grey-sbrikki);
}