$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.mailto{
    padding: 10px 30px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--sand-dune);
}