$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.mailto{
    font-size: 1 rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--grey-sbrikki);
  border-radius: 20%;
  border: 3px;
  padding: 20px;
  border-left: 0.5 solid;
  border-right: 0.5 solid;
  border-top: 0.5 solid;
  border-bottom: 1 solid;
  border-color: var(--grey-sbrikki);
  color: var(--black-sbrikki);

  &Disabled{
      @extend .mailto;
      pointer-events: none;
      cursor: default;
      opacity: 0.3;
  }
}

.suggestion{
  font-size: 0.7rem;
  padding-top: -3%;
}