$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.mailto{
    font-size: 1 rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10%;
    color: var(--white-sbrikki);
}