$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.kingHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70%;
}

.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:768px){
        flex-direction: row;
    }
}

.countPlayers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation: slide-left 1000ms ease-in-out;
}

@keyframes slide-left {
    from {
      margin-right: -100%;
      width: 300%; 
    }
  
    to {
      margin-right: 20%;
      width: 100%;
    }
  }

button{
    border-radius: 20%;
    margin: 20px;
    border-left: 0.5 solid;
    border-right: 0.5 solid;
    border-top: 0.5 solid;
    border-bottom: 1 solid;
    border-color: var(--grey-sbrikki);
    background-color: transparent;
    >*{
        align-self: center;
        justify-self: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    &:hover {
        box-shadow: 0 0 10px 0 var(--grey-sbrikki) inset, 0 0 10px 4px var(--grey-sbrikki);
    }
}