$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.kingHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players{
    display: flex;
    flex-direction: column;
    @media (min-width:768px){
        flex-direction: row;
    }
}

.countPlayers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button{
    width: 50px;
    height: 50px;
    
    &:hover {
        box-shadow: 0 0 10px 0 var(--grey-sbrikki) inset, 0 0 10px 4px var(--grey-sbrikki);
    }
}