.layout{
    width: 100vw;
    height: auto;
    margin-top: 80px;
}

.layoutScrollable{
    @extend .layout;
    overflow-y: scroll;
}

.layoutNotScrollable{
    @extend .layout;
    overflow: hidden;
}