$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navDesktop{
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}

.navMobile{
    @media (min-width: 768px) {
        display: none;
    }
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    height: auto;
    left: 0;
    top: 80px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey-sbrikki);
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;

    @keyframes rotateMenu {
        0% {
            transform: rotateX(-90deg);
            opacity: 0;
        }
        70% {
            transform: rotateX(20deg);
            opacity: 1;
        }
        100% {
            transform: rotateX(0deg);
            opacity: 1; 
        }
    }

    > *{
        padding: 50px;
    }
} 
