$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navDesktop{
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn{
    0%{
        width: 3000px;
        transform: translateX(500px);
    }
    100%{
        width: 100%;
        transform: translateX(0);
    }
}

.navMobile{
    @media (min-width: 768px) {
        display: none;
    }
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    height: auto;
    left: 0;
    top: 75px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey-sbrikki);
    animation: rotateMenu 600ms ease-in-out forwards;
    transform-origin: top center;

    > *{
        padding: 30px;
    }
} 

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
