$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navDesktop{
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}

.navMobile{
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vw;
    left: 0;
    top: 91px;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        display: none;
    }
}
