$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navDesktop{
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}

.navMobile{
    @media (min-width: 768px) {
        display: none;
    }
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    height: auto;
    left: 0;
    top: 80px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey-sbrikki);

    .opened{
        animation: rotateMenu 600ms ease-in-out forwards;
        transform-origin: top center;
    }

    .closed{
        animation: rotateMenu 600ms ease-in-out forwards reverse;
        transform-origin: top center;
    }

    > *{
        padding: 50px;
    }
} 

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
        opacity: 0.7;
    }
    70% {
        transform: rotateX(20deg);
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1; 
    }
}
