$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navDesktop{
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}

.navMobile{
    @media (min-width: 768px) {
        display: none;
    }
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    height: auto;
    left: 0;
    top: 80px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grey-sbrikki);
    animation: mymove 5s infinite;

    @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
    }
    
    > *{
        padding: 50px;
    }
} 
