$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navDesktop{
    display: none;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        //animation: slideIn 1000ms ease-out;
        align-items: center;
        > * {
            margin: 0 10px 0;
        }
    }
}
/*
@keyframes slideIn{
    0%{
        width: 1000px;
        transform: translateX(1200px);
    }
    100%{
        width: 500px;
        transform: translateX(0);
    }
}
*/
.navMobile{
    @media (min-width: 768px) {
        display: none;
    }
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    height: auto;
    left: 0;
    top: 75px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--blue-sbrikki);
    animation: rotateMenu 600ms ease-in-out forwards;
    transform-origin: top center;

    > *{
        padding: 30px;
    }
} 

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
