$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

table{
  border: 1px solid;
}

.playerGame {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.field{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  > *{
    margin: 1px;
  }
}

.bet{
  @extend .field;
}

.win{
  @extend .field;
}