$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.playerGame {
  display: flex;
  flex-direction: column;
}

th, td {
  border: 1px;
  border-radius: 10px;
  border-style: outset;
  color: var(--black-sbrikki);
}

h6{
  margin-bottom: 5px;
}

tr {
  margin-top: 10px;
  padding-top: 26px;
  display: inline-table;
}

.field{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  > *{
    margin: 1px;
  }
}

.name{
  position: absolute;
  background-color: var(--white-sbrikki);
  border: outset var(--white-sbrikki);
  border-radius: 8px;
  padding: 5px;
  margin-top: 20px;
  @media screen and (min-width: 441px) {
    margin-top: -85px;
  }
}

h3{
  color: var(--green-sbrikki);
}

h5 {
  color: var(--red-sbrikki);
}

select{
  border-radius: 2px;
  padding: 2px;
}

input{
  border: 1px;
  background-color: var(--white-sbrikki);
}



.bet{
  @extend .field;
}

.win{
  @extend .field;
}