$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.playerGame {
  display: flex;
  flex-direction: row;
}

th, td {
  border: 1px;
  border-radius: 10px;
  border-style: outset;
}

.name{
  width: 100px;
  text-align: center;
  @media screen and (min-width: tablet){
    width: 150px;
  }
}

.field{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  > *{
    margin: 1px;
  }
}

.bet{
  @extend .field;
}

.win{
  @extend .field;
}