$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.hamburger{
    transform: scaleX(-1);
    width: 50px;
    height: auto;
    padding: 5px;
    animation: pop 500ms;
}

@keyframes pop{
    0% {
        transform: scale(0.8);
    }
    70%{
        transform: scale(1.2)
    }
    100%{
        transform: scale(1)
    }
}
