$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.line{
    background-color: black;
    width: 100%;
    height: 5px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hamburger{
    width: 45px;
    height: auto;
    padding: 5px;
    animation: pop 500ms;
    @media(min-width: 768px){
        width: 50px;
    }

    .line1{
        @extend .line;
    }
    .line2{
        @extend .line;
    }
    .line3{
        @extend .line;
    }
}

.cross{
    .line1{
        @extend .line;
    }
    .line2{
        @extend .line;
    }
    .line3{
        @extend .line;
    }
}

@keyframes animateLine1{
    0%{

    }
    50%{

    }
}

@keyframes pop{
    0% {
        transform: scale(0.8);
    }
    70%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}
