.kingPage{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonAll{
    color: var(--white-sbrikki);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

.buttonBlocked{
    @extend .buttonAll;
    background-color: var(--red-sbrikki);
}

.buttonUnblocked{
    @extend .buttonAll;
    background-color: var(--green-sbrikki);
}