.kingPage{
    margin-top: 80px;
}

.buttonAll{
    color: var(--white-sbrikki);
    padding: 10px;
    text-transform: uppercase;
    text-decoration: solid
}

.buttonBlocked{
    @extend .buttonAll;
    background-color: var(--green-sbrikki);
}

.buttonUnblocked{
    @extend .buttonAll;
    background-color: var(--red-sbrikki);
}