.kingPage{
    margin-top: 80px;
    display: grid;
}

.buttonAll{
    color: var(--white-sbrikki);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border-style: double;
    opacity: 0.9;
}

@keyframes moving{
    0%{
        transform: scale(0.9);
        transform: rotateX(-90deg);
    }
    100%{
        transform: scale(1.1);
        transform: rotateX(0deg);
    }
}

.buttonBlocked{
    @extend .buttonAll;
    background-color: var(--red-sbrikki);
}

.buttonUnblocked{
    @extend .buttonAll;
    background-color: var(--green-sbrikki);
    animation: moving 2000ms infinite alternate ease-in-out;
}