.kingPage{
    margin-top: 80px;
    display: grid;
    text-align: center;
}

.buttonAll{
    color: var(--white-sbrikki);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    border-style: double;
    opacity: 0.8;
    width: 50%;
    justify-self: center;
}

.buttonBlocked{
    @extend .buttonAll;
    background-color: var(--red-sbrikki);
}

.buttonUnblocked{
    @extend .buttonAll;
    background-color: var(--green-sbrikki);
    animation: moving 1000ms infinite alternate ease-in-out;
    > * {
        animation: moving 1000ms infinite alternate reverse ease-in-out;

    }
}

@keyframes moving{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1.1);
    }
}