$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.bookWrapper{
    width: 70px;
    height: auto;
    display: grid;

    @media screen and (min-width: 768px) {
        width: 140px;
    }
}

.book{
    width: 100%;
    height: auto;
}

.book1{
    @extend .book;
    z-index: 3 !important;
    animation: aBook1 5s infinite ease-in-out;
}

.book2{
    @extend .book;
    margin-top: -54px;
    z-index: 2 !important;
    animation: aBook2 5s infinite ease-in-out;
    @media screen and (min-width: 768px) {
        margin-top: -84px;
    }
}

.book3{
    @extend .book;
    margin-top: -54px;
    z-index: 1 !important;
    animation: aBook3 5s infinite ease-in-out;
    @media screen and (min-width: 768px) {
        margin-top: -84px;
    }
}

@keyframes aBook1{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    28%{
        transform: translateX(-100px);
        opacity: 0;
    }
    42%{
        transform: translateX(0);
        opacity: 1;
    }
    56%{
        transform: translateX(0);
        opacity: 1;
    }
    70%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(-100px);
        opacity: 0;
    }
}

@keyframes aBook2{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    14%{
        transform: translateX(100px);
        opacity: 0;
    }
    28%{
        transform: translateX(0);
        opacity: 1;
    }
    70%{
        transform: translateX(0);
        opacity: 1;
    }
    84%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes aBook3{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    14%{
        transform: translateX(0);
        opacity: 1;
    }
    84%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-100px);
        opacity: 0;
    }
}