.bookWrapper{
    width: 70px;
    height: 70px;
}

.book{
    width: 100%;
    height: auto;
}

.book1{
    @extend .book;
    z-index: 3
}

.book2{
    @extend .book;
    margin-top: -54px;
    z-index: 2;
}

.book3{
    @extend .book;
    margin-top: -54px;
    z-index: 1;
}