.bookWrapper{
    width: 70px;
    height: 70px;
}

.book{
    width: 100%;
    height: auto;
}

.book1{
    @extend .book;
    z-index: 3
}

.book2{
    @extend .book;
    margin-top: -54px;
    z-index: 2;
}

.book3{
    @extend .book;
    margin-top: -54px;
    z-index: 1;
}

@keyframes aBook1{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes aBook1{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes aBook1{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
    }
}