.spotify{
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

iframe{
    margin-top: 80px;
    animation: fadeIn 1500ms 300ms ease-in-out;
    border-radius: 10px;
}

@keyframes fadeIn {
    0%{
        opacity: (0.1);
    }
    100%{
        opacity: (1);
    }
}