.spotify{
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

iframe{
    margin-top: 80px;
    animation: fadeIn 1500ms ease-in-out;
    border-radius: 10px;
}

@keyframes fadeIn {
    0%{
        opacity: (0);
        transform: translateY(100px);
    }
    100%{
        opacity: (1);
        transform: translateY(0);
    }
}