$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.navBar {
    height: 20px;
    width: 100vw;
    display: flex;
    background-color: var(--green-sbrikki);
    align-items: center;
    justify-content: space-around;
}