$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.gif {
    animation: fadeIn 500ms;
    width: 300px;
    height: auto;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    70%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}