$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.link{
  text-decoration: none;
}

.item {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: auto;
}

.item:hover{
  animation: hov 200ms ease-in-out forwards;
}

@keyframes hov{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
    color:var(--red-sbrikki);
  }
} 