$breakpoints: (
  phone: 480px,
  tablet: 768px,
  big-tablet: 1024px,
  desktop: 1440px,
);

.item {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--red-sbrikki);
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.item:hover{
  animation: hov 200ms ease-in-out forwards;
}

.hoverWrap{
  @extend .item;
  align-items: center;
  justify-content: center;

  :nth-child(1){
    display: inline;
  }
  :nth-child(2){
    display: none;
  }
}
.hoverWrap:hover{
  :nth-child(1){
    display: none;
  }
  :nth-child(2){
    display: inline;
  }
}

@keyframes hov{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
    color:var(--red-sbrikki);
  }
} 